

.forgot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  color: #fffffe; /* Dark grey for good contrast on white */
}

.forgot-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.forgot-wrapper p {
  font-size: 1.1rem;
  max-width: 500px;
  margin-bottom: 30px;
  color: #fffffe;
}

.contact-link,
.back-link {
  font-weight: bold;
  text-decoration: underline;
  color: #fffffe;
}
