/* About Hero Section */
.about-hero {
  display: flex;
  padding: 3rem 2rem;
}

/* About Us Section */
.about-us {
  display: flex;
  justify-content: space-between;
  background-color: #004643;
  color: #fffffe;
  padding: 3rem 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 0; /* remove horizontal padding */
}

.about-text {
  flex: 2;
  padding: 1rem;
  color: #fffffe;
}

.about-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #F5C97B;
}

.about-text p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.try-button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.try-button:hover {
  background-color: #F5C97B;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.about-image {
  flex: 1;
  padding: 0; /* remove padding */
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}